/* Resets default margin and padding */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}
/* yo garesi sabai content center ma huncha */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1152x;
  }
}

/* section */

/* makes the section scrooling smooth */
html {
  scroll-behavior: smooth;
}

#slider {
  max-width: 1350px;
  border: 0px solid rgb(53, 56, 57);
  margin: 0px auto;
}
#slider .left-slide,
#slider .right-slide {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #3a3b39;
  border-radius: 50%;
  color: #fefefe;
  font-size: 14px;
  top: 50%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
}
#slider .left-slide:hover,
#slider .right-slide:hover {
  box-shadow: 0px 0px 10px black;
}
#slider .left-slide {
  left: 30px;
}
#slider .right-slide {
  right: 30px;
}
#slider .slider-items .item img {
  max-width: 100%;
  height: 600px;
  display: block;
}
#slider .slider-items .item {
  display: none;
}
#slider .slider-items .item.active {
  display: block;
}

/* Section 2 */
#section2 {
  height: 1000px;
  background: #f0f0f0;
}

#section2 .container p {
  text-align: center;
  font-size: 50px;
}

#section3 {
  height: 1000px;
}

#about {
  height: 1000px;
  background: pink;
}

#subscribe {
  display: flex;
  align-items: center;
  height: 500px;
  background: #ee9a25;
}
#subscribe .container {
  display: flex;
}
#subscribe h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
#subscribe p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
#subscribe .input-sec4 {
  background: #fefefe;
  display: flex;
  padding: 0.3rem;
  border-radius: 4px;
}
#subscribe .input-sec4 input {
  width: 100%;
  border: none;
  padding: 0 1rem;
  font-size: 1rem;
}
#subscribe .input-sec4 button {
  padding: 0.8rem 2rem;
  border: none;
  background: #ee9a25;
  color: #fefefe;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}
#subscribe .input-sec4 button:hover {
  background: #353839;
}
#subscribe .input-sec4 input:focus {
  outline: none;
}

#contact {
  display: flex;
  height: 500px;
  background: #fefefe;
}
#contact .contact-info-wrapper {
  padding: 4rem 0;
  flex: 1;
}
#contact .map {
  flex: 1;
  /* filter:grayscale(100%);  */
}
#contact .contact-info {
  display: flex;
  justify-content: center;
}
#ch {
  text-align: center;
}
#contact .contact-info > div > div {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

#contact .contact-info > div img {
  margin-right: 1rem;
}
#contact .contact-info > div > div > div {
  display: flex;
  flex-direction: column;
}
#contact .contact-info > div > div > div span:first-child {
  /* font-family: ; */
  font-weight: bold;
  margin-bottom: 0.25rem;
}

#section3 .MainForm {
  background: #ee9a25;
  height: 100%;
}

#section3.yellow {
  background-color: #3a3b39;
  width: 50%;
}

#section3.Form {
  background-color: #353839;
}
